p, div, figure, figcaption, span, h1, h2, h3, h4, h5, a, section, body, hr, header, main, footer, form, input, button, svg, img, video, pre, textarea, ul, ol, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #383838;
}

.content {
    width: 1320px;
    margin: auto;
    position: relative;
}

.wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section {
    padding-top: 120px;
    padding-bottom: 100px;
    position: relative;
}

/* QUIZ */

.quiz__img {
    position: absolute;
    left: -250px;
    top: 15px;
    z-index: -1;
}

.quiz__title {
    background: linear-gradient(70deg, rgba(5, 188, 129, 1) 0%, rgba(57, 156, 108, 1) 26%, rgba(5, 188, 129, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    margin-bottom: 15px;
    font-size: 48px;
}

.quiz__subtitle p {
    margin-bottom: 15px;
    white-space: normal;
    text-align: justify;
    font-size: 27px;
}

.option__quiz .wrap{
    margin: 60px 0 40px 0;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 17px 3px rgba(0, 0, 0, 0.2);
    height: auto;
    align-items: start;
    justify-content: space-evenly;
}

.quiz__questions, .teeth__question{
    margin-top: 70px;
}

.quiz__questions {
    width: 36%;
    z-index: 1000;
}

.question {
    margin-top: 10px;
}

.label__radio {
    margin: 10px;
}

.number__question {
    margin: 0 20px 0 10px;
    color: rgb(255, 255, 255);
}

.dropdown {
    background-image: linear-gradient(256deg, rgba(5, 188, 129, 1) 0%, rgba(57, 156, 108, 1) 27%, rgba(5, 188, 129, 1) 100%);
    border-radius: 35px;
    white-space: nowrap;
    color: rgb(255, 255, 255);
    padding: 20px 0;
    font-size: 14px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    transition-property: all;
    transition: all ease 1s;
    border: 1px solid rgb(255, 255, 255);
}

.dropdown:hover {
    border: 1px solid black;
}

.green__text {
    margin-bottom: 20px;
    background-image: linear-gradient(256deg, rgba(5, 188, 129, 1) 0%, rgba(57, 156, 108, 1) 27%, rgba(5, 188, 129, 1) 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.questions {
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 20px 0 60px 20px;
    opacity: 1;
}

.close {
    transition-property: all;
    transition: all linear 0.2s;
    opacity: 0;
    height: 0;
    margin: 0 0 0 20px;
}

.not__available {
    background-image: none!important;
    background-color: transparent!important;
    border: 1px solid #ababab!important;
    color: #ababab!important;
}

.submit__quiz {
    background-image: linear-gradient(256deg, rgba(5, 188, 129, 1) 0%, rgba(57, 156, 108, 1) 27%, rgba(5, 188, 129, 1) 100%);
    border-radius: 30px;
    color: rgb(255, 255, 255);
    padding: 20px 60px;
    font-size: 14px;
    margin-top: 60px;
    border: 1px solid rgb(255, 255, 255);
    margin-bottom: 60px;
    transition-property: all;
    transition: all ease 1s;
    pointer-events: none;
}

.submit__quiz:hover {
    border: 1px solid black;
}

.not__available span {
    color: #ababab;
}


.arrow__img {
    transition-property: all;
    transition: all ease 0.8s;
    transform: rotate(180deg);
}

.close__img {
    transition-property: all;
    transition: all ease 0.2s;
    transform: rotate(0deg);
}

.open__close {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 0 0 0 1px;
}

.teeth__img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.teeth__questions {
    font-size: 12px;
    text-align: center;
    height: auto;
    position: absolute;
    top: 260px;
    right: 0;
    left: 635px;
    bottom: 0;
    z-index: 0;
}

.middle__zone {
    margin: 60px 0;
}

.memo__zones {
    margin-top: 10px;
    font-size: 10px;
}

.checkbox__teeth {
    margin-right: 5px;
}

.tooth__schema {

}

.tooth-checkboxes {
    height: 918px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.tooth {
    position: absolute;
    z-index: 1;
}

.tooth__checkbox {
    display: none;
}

.tooth__mark {
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
}

.tooth__mark:before {
    content: '';
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: transparent;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -0.5rem 0 0 -0.5rem;
}

/* Верх левая часть */
.tooth:nth-child(1) {
    width: 2rem;
    height: 2rem;
    top: 11.7%;
    right: 26.3%;
}

.tooth:nth-child(2) {
    width: 2rem;
    height: 2rem;
    top: 13.2%;
    right: 28.6%;
}

.tooth:nth-child(3) {
    width: 2rem;
    height: 2rem;
    top: 15%;
    right: 30.6%;
}

.tooth:nth-child(4) {
    width: 2rem;
    height: 2rem;
    top: 18%;
    right: 31.8%;
}

.tooth:nth-child(5) {
    width: 2rem;
    height: 2rem;
    top: 21.2%;
    right: 32.7%;
}

.tooth:nth-child(6) {
    width: 2rem;
    height: 2rem;
    top: 25.2%;
    right: 33.5%;
}

.tooth:nth-child(7) {
    width: 2rem;
    height: 2rem;
    top: 30%;
    right: 34.1%;
}

.tooth:nth-child(8) {
    width: 2rem;
    height: 2rem;
    top: 34.4%;
    right: 34.5%;
}

/* Верх левая часть */

/* Верх правая часть */

.tooth:nth-child(9) {
    width: 2rem;
    height: 2rem;
    top: 11.7%;
    right: 23.2%;
}

.tooth:nth-child(10) {
    width: 2rem;
    height: 2rem;
    top: 13.2%;
    right: 20.8%;
}

.tooth:nth-child(11) {
    width: 2rem;
    height: 2rem;
    top: 15%;
    right: 18.9%;
}

.tooth:nth-child(12) {
    width: 2rem;
    height: 2rem;
    top: 18%;
    right: 17.5%;
}

.tooth:nth-child(13) {
    width: 2rem;
    height: 2rem;
    top: 21.2%;
    right: 16.7%;
}

.tooth:nth-child(14) {
    width: 2rem;
    height: 2rem;
    top: 25.2%;
    right: 15.9%;
}

.tooth:nth-child(15) {
    width: 2rem;
    height: 2rem;
    top: 30%;
    right: 15.3%;
}

.tooth:nth-child(16) {
    width: 2rem;
    height: 2rem;
    top: 34.4%;
    right: 14.9%;
}

/* Верх правая часть */

/* Низ правая часть */

.tooth:nth-child(17) {
    width: 2rem;
    height: 2rem;
    top: 40.4%;
    right: 15.2%;
}

.tooth:nth-child(18) {
    width: 2rem;
    height: 2rem;
    top: 45.2%;
    right: 15.4%;
}

.tooth:nth-child(19) {
    width: 2rem;
    height: 2rem;
    top: 50.3%;
    right: 16.1%;
}

.tooth:nth-child(20) {
    width: 2rem;
    height: 2rem;
    top: 54.6%;
    right: 17.1%;
}

.tooth:nth-child(21) {
    width: 2rem;
    height: 2rem;
    top: 57.4%;
    right: 18.5%;
}

.tooth:nth-child(22) {
    width: 2rem;
    height: 2rem;
    top: 59.9%;
    right: 20%;
}

.tooth:nth-child(23) {
    width: 2rem;
    height: 2rem;
    top: 61.2%;
    right: 21.9%;
}

.tooth:nth-child(24) {
    width: 2rem;
    height: 2rem;
    top: 61.9%;
    right: 23.7%;
}

/* Низ правая часть */

/* Низ левая часть */

.tooth:nth-child(25) {
    width: 2rem;
    height: 2rem;
    top: 61.9%;
    right: 25.75%;
}

.tooth:nth-child(26) {
    width: 2rem;
    height: 2rem;
    top: 61.2%;
    right: 27.6%;
}

.tooth:nth-child(27) {
    width: 2rem;
    height: 2rem;
    top: 59.9%;
    right: 29.3%;
}

.tooth:nth-child(28) {
    width: 2rem;
    height: 2rem;
    top: 57.4%;
    right: 30.8%;
}

.tooth:nth-child(29) {
    width: 2rem;
    height: 2rem;
    top: 54.6%;
    right: 32.3%;
}

.tooth:nth-child(30) {
    width: 2rem;
    height: 2rem;
    top: 50.3%;
    right: 33.3%;
}

.tooth:nth-child(31) {
    width: 2rem;
    height: 2rem;
    top: 45.2%;
    right: 34%;
}

.tooth:nth-child(32) {
    width: 2rem;
    height: 2rem;
    top: 40.4%;
    right: 34.5%;
}
/* Низ левая часть */

.tooth__checkbox:checked + .tooth__mark:before {
    background: #59c9a4;
    opacity: 0.9;
}

/* QUIZ */